<footer class="pt-5 pb-5  bg-light text-white">
  <div class="container">
    <div class="row align-items-top text-center text-md-center">
      <div class="col-12 col-sm-6 col-md-7">
        <h3><strong>Contact Info</strong></h3>
        <p>John Hogan<br>
          Dunguib,<br>
          Killenaule,<br>
          Thurles,<br>
          Co. Tipperary,<br>

        </p>
        <p>0879497065</p>
      </div>
      <div class="col-12 col-md-4 mt-5 mt-md-0 text-md-center">
        <h3><strong>About Us</strong></h3>
        <p>Our Web-app allows local Irish businesses to advertise their products online and reach out to customers 
          all over Ireland and abroad. It is the perfect place to shop for the local products you love without having to leave your couch </p>
        <p class="text-h3">
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>&nbsp;&nbsp;
          <a href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>&nbsp;&nbsp;
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>&nbsp;&nbsp;
          <a href="#">
            <i class="fab fa-pinterest" aria-hidden="true"></i>
          </a>&nbsp;&nbsp;
          <a href="#">
            <i class="fab fa-google" aria-hidden="true"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <p>© 2021 Sraid Ard Ireland. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>