.register-button{
    padding: 8px 0;
    width: 380px;
    font-size: 16px;
    border-radius: 22px;
    color: #C6878F;
    display: block;
    margin: 20px auto 0 auto;
}

.btn-flat {
    background-color: transparent;
    border: solid 1px #C6878F;
    font-weight: inherit;
    height: auto;
    line-height: inherit;
    text-align: center;
    outline: 0px none !important;
    color: #C6878F;
}

button {

    background-color: #C6878F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    letter-spacing: 1px;

}

.login{
	background-color: #C6878F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	letter-spacing: 1px;
    width: 450px;
    margin: 20px auto 0 auto;
}

.gtdCck {
    border: 1px solid transparent;
    outline: none;
    -webkit-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
    width: 100%;
    padding: 0.9375rem;
    color: #455255;
    border-color: #F0F0F0;
}

.eiTnBu {
    box-sizing: border-box;
    font-family: BrownStd-Regular;
    line-height: 1.42;
    font-size: 1.2rem;

}


  