<section class="pt-5 pb-5" style=" ">
  <div class="container pt-5 pb-5">
    <div class="row justify-content-center header-h100 align-items-center">
      <div class="col-12 col-md-4 text-center">

        <form class="form-signin" [formGroup]="authForm" (ngSubmit)="saveForm()">

          <img class="ml-md-3 mr-3 mr-md-0 order-1 img-fluid rounded  mb-4" src="https://anima-uploads.s3.amazonaws.com/projects/606c4dca1a2fdfd93b0d1057/releases/606c526d9552364b7c7f9099/img/sr-id-ard-logo@1x.png" alt="Generic placeholder image">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" formControlName="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus=""/>

          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required=""/>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

          <p class="mt-5 mb-3 text-muted">© 2017-2018</p>

        </form>
      </div>
    </div>
  </div>
</section>