
  <div class="container pt-5 pb-5">
    <div class="row justify-content-center header-h100 align-items-center">
      <div class="col-12 col-md-5 text-center">

        <form class="form-signin" [formGroup]="authForm" (ngSubmit)="saveForm()">

          <img class="ml-md-3 mr-3 mr-md-0 order-1 img-fluid rounded  mb-4" src="https://anima-uploads.s3.amazonaws.com/projects/606c4dca1a2fdfd93b0d1057/releases/606c526d9552364b7c7f9099/img/sr-id-ard-logo@1x.png" alt="Generic placeholder image">
          <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
          
          <label for="inputFirstName" class="sr-only">First Name</label>
          <input *ngIf="registerMode" type="text" formControlName="first_name" font-size="[object Object]" placeholder="First Name" font-family="BrownStd-Regular" name="FirstName" autocomplete="" class="sc-bdVaJa sc-htpNat lmkx99-0 gtdCck sc-1i5h52x-0 eiTnBu" aria-required="true">
          
          <label for="inputLastName" class="sr-only">Last Name</label>
          <input *ngIf="registerMode" type="text" formControlName="last_name" font-size="[object Object]" placeholder="Last Name" font-family="BrownStd-Regular" name="LastName" autocomplete="" class="sc-bdVaJa sc-htpNat lmkx99-0 gtdCck sc-1i5h52x-0 eiTnBu"  aria-required="true">


          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" formControlName="username" id="inputUsername" font-size="[object Object]" placeholder="Username" font-family="BrownStd-Regular" name="UsernameSignIn" autocomplete="" class="sc-bdVaJa sc-htpNat lmkx99-0 gtdCck sc-1i5h52x-0 eiTnBu" data-validation-empty="Please enter your username." data-validation-format="This username is not valid. Please ensure there are no spaces or invalid characters in your username." data-validation-registeremail="" aria-required="true">
          
          <label for="inputEmail" class="sr-only">Email</label>
          <input *ngIf="registerMode" type="email" formControlName="email" id="inputEmail" font-size="[object Object]" placeholder="Email" font-family="BrownStd-Regular" name="EmailSignIn" autocomplete="" class="sc-bdVaJa sc-htpNat lmkx99-0 gtdCck sc-1i5h52x-0 eiTnBu" data-validation-empty="Please enter your email address." data-validation-format="This email address is not valid. Please ensure there are no spaces or invalid characters in your email address." data-validation-registeremail="" aria-required="true">

          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" formControlName="password" id="inputPassword" font-size="[object Object]" placeholder="Password" font-family="BrownStd-Regular" name="PasswordSignIn" autocomplete="" class="sc-bdVaJa sc-htpNat lmkx99-0 gtdCck sc-1i5h52x-0 eiTnBu" data-validation-empty="Please enter your password." data-validation-format="This password is not valid. Please ensure there are no spaces or invalid characters in your email address." data-validation-registeremail="" aria-required="true">

          <button type="submit" name="login" width="100%" class="eexz8h-1 kbFGkD">
            <span *ngIf="!registerMode" font-size="[object Object]" font-family="BrownStd-Regular" letter-spacing="1px" display="flex" class="sc-bdVaJa sc-htpNat sc-1i5h52x-0 lgWUVA">LOG IN</span>
            <span *ngIf="registerMode" font-size="[object Object]" font-family="BrownStd-Regular" letter-spacing="1px" display="flex" class="sc-bdVaJa sc-htpNat sc-1i5h52x-0 lgWUVA">REGISTER</span>
          </button>
          
          
          <a *ngIf="!registerMode" class="mt-6 mb-3 register-button btn-flat" data-capturescreen="traditionalRegistration" (click)="registerMode = true">No account? Register here</a>
          <a *ngIf="registerMode" class="mt-6 mb-3 register-button btn-flat" data-capturescreen="traditionalRegistration" (click)="registerMode = false">Have an account? Login here</a>

          <p class="mt-5 mb-3 text-muted">© 2017-2018</p>

        </form>
      </div>
    </div>
  </div>
