<td>
    <figure class="itemside align-items-center">
        <div class="aside"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574342054/imgrc0078783629.jpg"
                class="img-sm"></div>
        <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">Flower Formal T-shirt</a>
            <p class="text-muted small">SIZE: L <br> Brand: ADDA </p>
        </figcaption>
    </figure>
</td>

<td> 
    <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select> 
</td>

<td>
    <div class="price-wrap"> <var class="price">$15</var> <small class="text-muted"> $12 each </small> </div>
</td>

<td> <a data-original-title="Save to Wishlist" title="" href=""
        class="btn btn-light" data-toggle="tooltip" data-abc="true"> <i class="fa fa-heart"></i></a> <a href=""
        class="btn btn-light btn-round" data-abc="true"> Remove</a>
</td>