
<button (click)="goBack()"><i class="fas fa-angle-left"></i> Go Back</button>

<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">

        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Add Product</h2>
          </div>
        </div>

        
      <form [formGroup]="productForm" class="tm-edit-product-form">
        <div class="row tm-edit-product-row">

          <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
            <img [src]="imageURL" style="width: 300px; height: 200px">

            <div class="custom-file mt-3 mb-3">

              <input id="fileInput" type="file" style="display:none;" (change)="uploadDocument($event)" accept=".png, .pdf, .jpg, .jpeg">
              <input type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE"
                onclick="document.getElementById('fileInput').click();" >
                
            </div>


            <div class="form-group mb-3 shop">

              <label for="shop">Shop</label>
              <input id="shop" formControlName="shop" name="shop" type="text" class="form-control validate"
                required="">

            </div>

            <div class="row">
              <div class="form-group mb-3 col-xs-12 col-sm-6">

                <label for="shipping_fee">Shipping Fee</label>
                <input id="shipping_fee" formControlName="shipping_fee" name="shipping_fee" type="text" class="form-control validate "
                  data-large-mode="true">

              </div>
              <div class="form-group mb-3 col-xs-12 col-sm-6">

                <label for="stock">Stock Availability</label>
                <select formControlName="stock" class="custom-select tm-select-accounts" id="stock">
                  <option value="" disabled>Stock Availability</option>
                  <option *ngFor="let stock of stocks" [ngValue]="stock">
                    {{ stock }}
                  </option>
                </select>

              </div>
            </div>

            
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12">
            

              <div class="form-group mb-3">

                <label for="name">Product Name</label>
                <input id="name" name="name" type="text" formControlName="name" class="form-control validate"
                  required="">

              </div>

              <div class="row">
                <div class="form-group mb-3 col-xs-12 col-sm-6">

                  <label for="price">Price
                  </label>
                  <input id="price" formControlName="price" name="price" type="text" class="form-control validate "
                    data-large-mode="true">

                </div>

                <div class="form-group mb-3 col-xs-12 col-sm-6">

                  <label for="colour">Colour</label>
                  <select formControlName="colour" class="custom-select tm-select-accounts" id="colour">
                    <option value="" disabled>Choose a Colour</option>
                    <option *ngFor="let colour of colours" [ngValue]="colour">
                      {{ colour }}
                    </option>
                  </select>

                </div>
              </div>

              <div class="form-group mb-3">

                <label for="product_description">Description</label>
                <textarea id="product_description" formControlName="product_description" class="form-control validate" rows="3"
                  required=""></textarea>

              </div>

              

              <div class="row weight">
                <div class="form-group mb-3 col-xs-12 col-sm-6 ">

                  <label for="weight">Weight (kg)</label>
                  <input id="weight" formControlName="weight" name="weight" type="text" class="form-control validate "
                    data-large-mode="true">

                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">

                  <label for="quantity">Units In Stock</label>
                  <input id="quantity" formControlName="quantity" name="quantity" type="text"
                    class="form-control validate" required="">

                </div>
              </div>

              <div class="form-group mb-3 category">

                <label for="category">Category</label>
                <select formControlName="category" class="custom-select tm-select-accounts" id="category">
                  <option value="" disabled>Choose a Category</option>
                  <option *ngFor="let category of categories" [ngValue]="category">
                    {{ category }}
                  </option>
                </select>
  
              </div>

            
          </div>
          
          <div class="col-12">
            <button type="submit" (click)="addProduct()" class="btn btn-primary btn-block text-uppercase">Add Product
              Now</button>
          </div>

        </div>
        </form>
      </div>
    </div>
  </div>
</div>