

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
.product-content{
    align-self:flex-strat;
    padding: 20px;
    justify-content: center;
}
img {
    float: left;
    height: 200px;
    object-fit:contain;
}

h1 {
    padding: 16px;
}

a{
    font-size: 1.5em;
    margin: 120px 10px;
}

button{
	background-color: #C6878F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	letter-spacing: 1px;
}


.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    position: relative;
    color: #12263a;
    margin: 1rem ;
    text-decoration: none;
    justify-content: center;
}
