<div *ngIf="category">
  <div class="">
    <div class="container  ">

      <div class="row   justify-content-center header-h100  d-flex  ">
        <div class="col-md-12  shadow align-self-center card p-12 text-dark pt-4 pb-4">
          <img src="{{category.category_image}}" class="img-center img">
          <div class="text-center">
            <h1>{{category.name}}</h1><br>
            <h5>{{ category.category_description }}</h5><br>

          </div>
        </div>
      </div>

      <section class="pt-5 pb-5">
        <div class="container cards cards-hover">
          <div class="row">
            <div class="col-12 col-sm-8 col-md-4  m-0 p-0" *ngFor="let product of products">
              <app-product-item [productItem]="product" (click)="selectProduct(product)"></app-product-item>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>